html
{
    background-color: #222;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#topbar
{
    display: flex;
    justify-content: center;
    align-items: center;
}
p 
{
    padding: 10px;
}

hr
{
    text-align:left;
    margin-left:0
}